@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap')



.outerContainer
    display: flex
    .innerContainer1
        margin-top: 8vh
        width: 33vw
        text-align: center

        .normalText
            color: white
            display: inline
            font-size: 3vh
            font-family: Noto Sans TC
        
        .comgame-kind
            margin-top: 3vh
            margin-left: 2vw

            .item
                margin-bottom: 1vh
                .game-name
                    color: white
                    font-family: Noto Sans TC
                    font-size: 2vh
                    padding: 0vh 2vh 0vw 2vh
                    border-radius: 5px
                    text-decoration: none
                    

                    &:hover
                        background: #474747
    .innerContainer2
        display: flex
        flex-direction: column
        justify-content: start
        margin-top: 5vh
        width: 33vw
        align-items: center
        .account-input
            padding: 10vh
            background: #000000
            border-radius: 10px
            font-family: Noto Sans TC
            .item
                margin-bottom: 2vh
                .input-box
                    border-radius: 5px
                    height: 3vh
                    size: 20
                .text
                    margin-bottom: 1vh
        
        .Quota
            display: flex
            margin-top: 3vh
            font-family: Noto Sans TC
            flex-direction: column
            align-content: center
            .label1
                margin-bottom: 2vh
                .radio-container
                    display: flex
                    align-items: center

                    .amount-radio
                        width: 2.5vw
                        height: 2.5vh
            
                
    .innerContainer3
        width: 33vw
        height: 100vh
        display: flex
        align-items: center
        flex-direction: column
        flex-grow: 1

        .ad-image1
            width: 200px
            height: 300px
        .ad-image2
            margin-top: 5vh
            width: 300px
            height: 200px
        

.text
    color: white
    font-family: Noto Sans TC
    font-size: 2vh 
