@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap')


.outerContainer
    display: flex
    .innerContainer1
        margin-top: 8vh
        margin-left: 3vw
        width: 33vw

        .normalText
            color: white
            display: inline
            font-size: 2vh
            font-family: Noto Sans TC
        .comgame-kind
            margin-top: 3vh
            margin-left: 2vw

            .item
                margin-bottom: 1vh
                .game-name
                    color: white
                    text-decoration: none
                    font-family: Noto Sans TC
                    padding: 0vh 2vw 0vw 2vh

                    &:hover
                        background: #474747

    .innerContainer2
    .innerContainer3